#############################
# FONT & CURSOR              #
##############################
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xcursor.theme: Vanilla-DMZ
Xcursor.size: 24

##############################
# URxvt                      #
##############################
URxvt.font: xft:Consolas
URxvt.urgentOnBell: true
URxvt.scrollBar: false
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true
URxvt.perl-ext-common: default,matcher,vtwheel
URxvt.iso14755: false
URxvt.url-launcher: /usr/bin/qutebrowser
URxvt.matcher.button: 1
URxvt.depth: 32
URxvt.background: [90]#0a0f12

##############################
# COLORS                     #
##############################
#*background: #080d3b

 special
 *.foreground:   #aecbda
 *.cursorColor:  #aecbda

 ! black
 *.color0:       #161d20
 *.color8:       #f1bed2

 ! red
 *.color1:       #1d252a
 *.color9:       #d59a5d

 ! green
 *.color2:       #2c373c
 *.color10:      #edb685

 ! yellow
 *.color3:       #404f56
 *.color11:      #70b9a4

 ! blue
 *.color4:       #596c77
 *.color12:      #7ccab4

 ! magenta
 *.color5:       #77909d
 *.color13:      #f4a541

 ! cyan
 *.color6:       #99b9ca
 *.color14:      #ebc1a0

 ! white
 *.color7:       #d7e4ec
 *.color15:      #9ab961
!
